/* border-bottom: 1px solid #eee; */


.collections-sell-contents {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.collections-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.collections-sell-main {
  background-color: #FFF;
  width: 75vw;
  min-width: 450px;
}

.collections-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 5px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin: 3px 0;
  font-size: 20px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
  font-size: 10px;
}

.click-upload>p {
  margin-bottom: 15px;
  width: 300px;
}


.other-images {
  display: flex;
}

.other-image {
  margin-right: 20px;
}

#previews {
  display: flex;
}

input {
  width: 200px;
}

.preview-image {
  height: 150px;
  width: 150px;
  padding: 14px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* 縦横比を保ったまま、画像を縦横100pxのサイズに収めるプロパティです */
  object-fit: contain;
}

#collection_images {
  width: 200px;
}
/* /商品画像 */

/* 商品名と商品説明 */
.new-collections {
  padding: 2vh 0;
}

.collections-title {
  height: 25px;
  width: 400px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-point {
  height: 25px;
  width: 400px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-text {
  width: 97.8%;
  height: 60px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.collections-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.collections-detail>.form {
  width: 150px;
  padding: 2vh 0;
}

.select-box {
  margin-bottom: 3vh;
  width: 150px;
}

/* /商品の詳細など */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 60%;
  height: 50px;
  font-size: 14px;
  margin-right: 60px;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-decoration: none;
  padding: 17px 100px;
}