/* border-bottom: 1px solid #eee; */


.collections-sell-contents {
  min-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.collections-sell-main {
  width: 70vw;
  min-width: 450px;
  margin: 60px 0;
  padding: 30px 60px;
  background-color: #FFF;
}

.collections-sell-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  margin-left: 2px;
  padding: 2px;
  border-radius: 2px; 
  font-size: 8px;
  color: #fff;
  background: #ea352d;

}

.weight-bold-text {
  margin: 3px 0;
  font-weight: bold;
  min-width: 170px;
  font-size: 20px;
}

.select-box {
  width: 150px;
  height: 30px;
  margin-bottom: 3vh;
  padding-left: 20px;
  background-color: #f5f5f5;
}

/* /共通 */

/* 商品画像 */
.img-upload {
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
  font-size: 10px;
}

.click-upload>p {
  width: 250px;
  margin-bottom: 15px;
}

.other-image {
  margin-right: 10px;
}

#previews {
  display: flex;
}

.image-btn {
  width: calc( 100% / 5 );
}

.preview-image {
  width: 120px;
  height: 120px;
  padding: 14px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* 縦横比を保ったまま、画像を縦横100pxのサイズに収めるプロパティ */
  object-fit: contain;
}

.image-delete-button {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background: #ea352d;
}
/* /作品画像 */

/* 作品説明 */

.collections-title {
  width: 400px;
  height: 25px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-point {
  width: 400px;
  height: 25px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-text {
  width: 80%;
  height: 60px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.collections-explain {
  margin-top: 2vh;
}

/* /作品説明 */

/* 作品詳細 */
.collections-detail {
  padding: 2vh 0;
  display: flex;
  justify-content: space-between;
}

.collections-detail>.form {
  width: 150px;
  padding: 2vh 0;
}


/* /作品詳細 */

/* 注意書き */
.caution {
  padding: 1vh 0;
}

.sentence>a {
  text-decoration: none;
  color: #ea352d;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  margin: 50px 0;
  width: 90%;
  text-align: center;
}

.sell-btn {
  width: 50%;
  height: 50px;
  margin-right: 60px;
  font-size: 14px;
  border: 1px solid #ea352d;
  color: #fff;
  background-color: #ea352d;
}

.back-btn {
  width: 40%;
  padding: 17px 100px;
  text-decoration: none;
  border: 1px solid #aaa;
  color: #fff;
  background-color: #aaa;
}