<div class="user-collection-show">
  <div class='user-collection-lists'>
    <% @user.followings.each do |user| %>
      <div class="user-follows">
        <%= link_to user.nickname, user_path(user.id) %>
          <%= link_to "フォロー外す", user_relationships_path(user), method: :delete, class:"follow-delete-btn" %>
      </div>
    <% end %>
  </div>
</div>