.profile-view {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.user__wrapper {
  margin: 30px 0;
  padding: 30px;
  width: 70vw;
  min-width: 450px;
  background-color: #FFF;
}

.page-heading {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.page-heading-left {
  font-size: 32px;
  color: #f57a00;
}

.page-heading-left span {
  font-size: 20px;
  color: black;
}

.page-heading-right a {
  padding: 5px 10px;
  border: 1px solid;
}

.profile-content{
  width: 600px;
  margin-left: 40px;
  margin-bottom: 60px;
}

tr {
  height: 60px;
  border: 1px solid;
}

th {
  background-color: #f57a00;
  color: #FFF;
}

.table__col1 {
  width: 200px;
  padding: 10px;
  border-right: 1px solid black;
  font-size: 32px;
}

.table__col2 {
  width: 400px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.table__col3 {
  width: 200px;
  height: 120px;
  padding: 10px;
  border-right: 1px solid black;
  font-size: 32px;
}

.table__col4{
  font-size: 20px;
  padding: 5px;
  word-break:break-all
}

.table__col4-nil{
  font-size: 30px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-collections {
  margin: 60px;
}

.user-collections h2 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.user-collections span {
  color: #f57a00;
}