<header>
  <div class="inner">
    <div class="upper-nav">
      <div class="header-left">
        <%= link_to root_path, class: :app_title do %>
          クリ<span class="kore">コレ！</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="under-nav">
  </div>
</header>