<header>
  <div class="inner">
    <div class="upper-nav">
      <div class="header-left">
        <%= link_to "collections", root_path, class: :app_title %>
      </div>
    </div>
  </div>
  <div class="under-nav">
  </div>
</header>