<div class="main">
<%= render 'shared/header' %>
  <div class="contents-row">
    <div class="success">
      <div class="success-text">
        <h1>THANK YOU!!</h1>
        <p>応援メッセージを送信しました。</p>
        <a class="create-back-btn" href="/">トップページへ</a>
      </div>
    </div>
  </div>
</div>

