/* user/show.cssはprofile/show.cssに記載 */


.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

/* 寄付機能へのフォーム */

.donation {
  width: 90%;
  background-color: #fff;
}

.donation-inner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.donation-link-text {
  font-size: 40px;
}

.donation-link-text span {
  font-size: 48px;
  color: #f57a00;
}

.donation-link-btn {
  padding: 60px 80px;
  border-radius: 10px;
  font-size: 40px;
  color: #fff;
  background-color: #f57a00;
}

/* //寄付機能へのフォーム */
