/* user/show.cssはprofile/show.cssに記載 */

.donation {
  width: 90%;
  background-color: #fff;
}

.donation-img {
  background-image: image-url('045.jpg');
}

.donation-inner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.donation-link-text {
  font-size: 40px;
}

.donation-link-text span {
  font-size: 48px;
  color: #f57a00;
}

.donation-btn {
  padding: 60px 80px;
  border-radius: 10px;
  font-size: 40px;
  color: #fff;
  background-color: #f57a00;
}