.user-show-page {
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.tab-list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #CCC;

}

.tab {
  width: calc(100% /6);
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  text-align: center;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  border-bottom: solid 3px #f57a00;
}

.tabbox {
  height: 800px;
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.user__wrapper {
  width: 70vw;
  min-width: 450px;
  padding: 30px;
  background-color: #FFF;
}

.page-heading {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.user-show-name {
  font-size: 32px;
  color: #f57a00;
}

.user-show-name span {
  font-size: 20px;
  color: black;
}

.page-heading-right a {
  padding: 5px 10px;
  border: 1px solid;
}
